@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Ruda&display=swap");

body {
    font-family: Roboto, system-ui, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    color: rgba(0, 0, 0, 0.65)
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    padding-top: 10px;
    width: 10px;

}

::-webkit-scrollbar-thumb {
    cursor: grabbing;
    background-color: #afaeae;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #959191;
}
